* {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid;
}

#tab {
    height: 50px;
    display: flex;
}

#body > div {
    height: 600px;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}